# Compiled python files (Binary)
__pycache__/

# VSCode config
.vscode/

# Private stuff
config/secrets.json

# Irrelevant
.mypy_cache
.pytest_cache
random-shit/

# Not ready
presence_bot.py
cogs/presencetracker.py
assets/
