git+https://github.com/Rapptz/discord.py#egg=discord.py[speed]
jishaku
topggpy

gtts
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

pillow

fuzzy-match
numpy

psutil
pytz
uvloop

dnspython
asyncpg
redis
