discord.py[speed,voice]
git+https://github.com/Gorialis/jishaku.git
wavelink
topggpy

gtts
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

pillow

fuzzy-match
numpy

psutil
tzdata
uvloop

dnspython
asyncpg
redis
